<!-- Table des matières -->
<div class="page-header pt-3 mb-0">
  <div class="row align-items-center">
    <div class="col">
      <input [(ngModel)]="searchText" (input)="filterMatieres($event)" class="form-control" type="text" placeholder="Rechercher un projet" />
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#matiere_modal" (click)="openAddForm()">
        Nouveau Projet
      </button>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Id</th>
        <th>libelle </th>
        <th>Description</th>
        <th>Tâche</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let matiere of filteredMatieres">
        <td>{{ matiere.id }}</td>
        <td>{{ matiere.libelle  }}</td>
        <td>{{ matiere.noteMatiere }}</td>
        <td>{{ matiere.description }}</td>
        <td>

        <div (click)="actionTache(matiere.id)">
            <i class="bi bi-list-ol" style="font-size: 25px; cursor: pointer;"></i>
          </div>
        </td>


        <td>
          <button class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#matiere_modal" (click)="populateForm(matiere)">Modifier</button>
          <button class="btn btn-sm btn-danger" (click)="deleteMatiere(matiere.id)">Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal d'ajout / modification -->
<div class="modal fade" id="matiere_modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="matiereForm" (ngSubmit)="handleMatiere()" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ formType }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="libelle">libelle  du projet</label>
          <input id="libelle" type="text" class="form-control" formControlName="libelle" />
        </div>
        <div class="form-group">
          <label for="noteMatiere">Note Matière</label>
          <textarea id="noteMatiere" class="form-control" formControlName="noteMatiere"></textarea>
          <div *ngIf="matiereForm.get('noteMatiere')?.touched && matiereForm.get('noteMatiere')?.invalid" class="text-danger mt-1">
            <div *ngIf="matiereForm.get('noteMatiere')?.errors?.['min']">La note doit être ≥ 0.</div>
            <div *ngIf="matiereForm.get('noteMatiere')?.errors?.['max']">La note doit être ≤ 20.</div>
            <div *ngIf="matiereForm.get('noteMatiere')?.errors?.['notFloat']">La note doit être un nombre décimal valide.</div>
          </div>

        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" class="form-control" formControlName="description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="matiereForm.invalid">Sauvegarder</button>
      </div>
    </form>
  </div>
</div>
