

<app-organization-header></app-organization-header>
<app-top-cards></app-top-cards>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-lg-7">
    <app-sales-ratio></app-sales-ratio>
  </div>
  <div class="col-lg-5"> <!--  Top Contributor -->
    <app-feeds></app-feeds>
  </div>
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-12">
    <top-contribution></top-contribution>
  </div>
</div>
